@import '@styles/colors.scss';
@import '@styles/mixins.scss';

.header {
    background-color: $bg-bg-2;
    width: 100%;

    border-bottom: 1px solid $neutral-700;

    // Disable selection text
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    @include sm {
        height: 4rem;
        padding: 0 0.5rem;
    }

    .headerContainer {
        padding: 1.25rem 2rem;
        display: flex;
        align-items: center;
    }

    .logo {
        width: 9rem;
        height: 2rem;
    }

    a {
        color: $neutral-100;
        font-size: 0.875rem;
    }

    .headerRow {
        width: 100%;

        @include sm {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .iconWrapper {
        column-gap: 0.5rem;
    }

    .workspaceTitle {
        color: $neutral-100;
        font-size: 1rem;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.03125rem;
        margin: 0;

        .workspaceStatus {
            color: $neutral-300;
        }
    }

    .sectionWrapper {
        gap: 0 0.75rem;

        @include md {
            gap: 0 0.5rem;
        }
        @include sm {
            gap: 0 0.25rem;
        }

        .btn {
            border-radius: 0.25rem;
            background: $neutral-900;
            display: flex;
            padding: 0.25rem 0.5rem;
            justify-content: center;
            align-items: center;
            gap: 4px;
            border: none;
            color: $neutral-100;
            min-height: 2rem;
            cursor: pointer;
            transition: 0.2s;

            .btnText {
                color: $neutral-200;
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.5px;
            }
        }

        .btn:active {
            background: $neutral-700;
            -webkit-box-shadow: inset 0 0 5px $neutral-700;
            -moz-box-shadow: inset 0 0 5px $neutral-700;
            box-shadow: inset 0 0 5px $neutral-700;
        }

        .newBtn {
            border-radius: 0.25rem;
            background: var(
                --button-bt-background,
                linear-gradient(180deg, rgba(219, 76, 92, 0.95) 0%, #d54253 90.1%, rgba(228, 91, 107, 0.87) 100%)
            );
            display: flex;
            padding: 0.5rem 1rem;
            align-items: flex-start;
            border: 1px solid transparent;
            cursor: pointer;

            color: $neutral-200;
            font-size: 0.75rem !important;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        .newBtn:active {
            background: #ff8795;
            -webkit-box-shadow: inset 0 0 5px #ff8795;
            -moz-box-shadow: inset 0 0 5px #ff8795;
            box-shadow: inset 0 0 5px #ff8795;
        }

        .divider {
            width: 2px;
            height: 1.5rem;
            background-color: $neutral-700;
        }
    }
}

.shareModal {
    & .shareModalTitle {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
    }
}