$branding-500: #d54253;
$branding-100: #ff8492;
$branding-star: #ffa800;
$branding-bt3: #16d941;
$neutral-1000: #13161b;
$neutral-900: #1b1f27;
$neutral-800: #b8bcc6;
$neutral-700: #3d4048;
$neutral-600: #e1e4eb;
$neutral-500: #585a60;
$neutral-400: #e1e4eb;
$neutral-300: #868991;
$neutral-200: #fafbfc;
$neutral-100: #ffffff;
$neutral-bg: #353945;
$neutral-bg2: #1f232b;
$neutral-bg3: #16191f;
$neutral-bg4: #23262f;
$neutral-bg-dark-color1: #12141d;
$neutral-bg-dark-color2: #1e2029;
$neutral-bg-dark-color3: #2a2c34;
$neutral-color1: #777e90;
$neutral-color2: #ff592c;
$neutral-color3: #858a8f;
$neutral-color4: #45b26b;
$neutral-color8: #fcfcfd;
$secondary-1: #3772ff;
$primary-2: #9757d7;
$functional-link-500: #377dff;
$functional-link-100: #e5f1ff;
$functional-success-500: #2dca8c;
$functional-success-100: #eafaf3;
$functional-info-500: #ffbe3d;
$functional-info-400: #ffd87c;
$functional-info-100: #fff2d8;
$functional-error-500: #ff715b;
$functional-error-100: #ffe3de;
$tag1: #7b1fa2;
$night: #1c1d28;
$night-100: #777682;
$black: #000000;
$grey: #868990;
$white: #effcfd;
$yellow: #ffc839;
$blue-800: #77e0fa;
$blue-700: #6288ac;
$blue-600: #a3bbf5;
$blue-500: #bbd6ff;
$rectangle-70: #4d546a;
$rectangle-356: #14131f;
$rectangle-1011: #020306;

$bg-bg-1: #191c26;
$bg-bg-2: #111319;
$bg-bg-grey: #b8bcc6;
$bg-bg-da: #242836;
$bg-bg-black: #000000;

$bg-bg-3: #3f5765;
$bg-bg-4: #161d24;
$blue-300: #b8ccff;
$gray-1: #cdd7db;
$blue-1000: #2c57e5;
$bg-bg-tag: #4d546a;
$light-blue: #a8d5ff;
$semantic-warning: #ffa500;
